<template>
  <div class="text-center fs-12 pt-3 bg-dark fixed-bottom ">
    <p class="text-white">&copy; {{ currentYear }} Todos los derechos reservados.</p>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        currentYear: null
      }
    },
    methods: {
      getCurrentYear() {
        this.currentYear = new Date().getFullYear();
      }
    },
    beforeMount() {
      this.getCurrentYear();
    }
  }
</script>