<template>
  <div>
    <div class="big-card py-3 p-md-3">
      <h5 class="text-blue ml-3 ml-md-auto">My Cards</h5>
      <hr class="">
      <div class="container-fluid">
        <div class="row px-2 px-md-0 mt-3" v-for="(card, idx) in cards" :key="idx">
          <div class="col-12 bg-light-gray py-3 px-4 d-md-flex justify-content-md-between">
            <div class="d-md-flex justify-content-md-start">
              <img src="../assets/images/Ok-green-ico.svg" width="15" class="mr-3" alt="ok-green-icon">
              <img src="../assets/images/Visa-Card-Logo.svg" width="50" class="mr-3" alt="visa-icon">
              <div class="fs-14 mt-3">
                <p class="text-dark-gray mb-0">Visa {{ card.cardNumber }}</p>
                <p class="text-dark-gray">Exp. Date {{ card.expMonth }}/{{ card.expYear }}</p>
              </div>
            </div>
            <div class="fs-14 font-weight-bold mt-4">
              <p class="d-inline-block text-dark-gray pointer mr-3 small-btn" v-b-modal.confirm-remove-modal>Remove</p>
              <p class="d-inline-block text-blue pointer small-btn" v-if="card.defaultCard">Default</p>
              <p class="d-inline-block text-blue pointer small-btn" v-if="!card.defaultCard" @click="setAsDefaultCard">Set as default</p>
              <!-- Remove MODAL-->
              <b-modal id="confirm-remove-modal" body-class="p-4" ref="confirm-remove-modal" size="sm" hide-header hide-footer centered>
                <img src="../assets/images/Remove-payment-ico.svg" width="50" alt="remove-card-img">
                <h5 class="text-blue mb-1 mt-3">Remove Card</h5>
                <p class="fs-14">Are you sure you want to remove from wallet?</p>
                <div class="d-flex justify-content-between">
                  <b-button class="bg-green border-0 modal-btn modal-btn-aff" @click="deleteCard(idx); $bvModal.hide('confirm-remove-modal')">Yes</b-button>
                  <b-button class="bg-white text-my-black modal-btn modal-btn-neg" @click="$bvModal.hide('confirm-remove-modal')">Cancel</b-button>
                </div>
              </b-modal>
              <!-- *** -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="big-card py-3 p-md-3 mt-3">
      <h5 class="text-blue ml-3 ml-md-auto pointer" @click="openAddNewCardTab">+ Add New Card</h5>
      <hr class="" v-if="addNewCardTabFlag">
      <div class="container-fluid" v-if="addNewCardTabFlag">
        <div class="row px-3">
          <div class="col-12 d-md-flex mt-2 justify-content-md-start">
            <img src="../assets/images/Ok-green-ico.svg" width="30" class="position-relative bottom-10" alt="ok-green-icon">
            <div class="text-green fs-14 mx-3 d-inline-block">
              <p class="mb-0">We Accept All Major</p>
              <p class="">Debit/Credit Cards</p>
            </div>
              <img src="../assets/images/Visa-Card-Logo.svg" width="35" class="mr-3 position-relative bottom-10 mt-2 mt-md-0" alt="visa-icon">
              <img src="../assets/images/Master-Card-Logo.svg" width="35" class="mr-3 position-relative bottom-10 mt-2 mt-md-0" alt="mastercard-icon">
              <img src="../assets/images/Visa-Card-Logo.svg" width="35" class="mr-3 position-relative bottom-10 mt-2 mt-md-0" alt="discover-icon">
              <img src="../assets/images/Amex-Card-Logo.svg" width="35" class="position-relative bottom-10 mt-2 mt-md-0" alt="amex-icon">
          </div>
        </div>
        <form>
          <div class="row mt-3">
            <div class="col-12">
              <div class="form-row">
                <div class="col-12 col-md fs-12">
                  <label for="">Name on card</label>
                  <input type="text" class="form-control" v-model="addedCards.cardHolderName">
                </div>
                <div class="col-12 col-md fs-12 mt-2 mt-md-0">
                  <label for="">Credit / Debit Card Number</label>
                  <input type="text" v-mask="'####-####-####-####'" class="form-control" v-model="addedCards.cardNumber">
                </div>
                <div class="col-12 col-md fs-12 mt-2 mt-md-0">
                  <label for="">Exp. Month</label>
                  <select id="" class="form-control" v-model="addedCards.expMonth">
                    <option selected></option>
                    <option v-for="month in months" :key="month.value">{{ month.value }}</option>
                  </select>
                </div>
                <div class="col-12 col-md fs-12 mt-2 mt-md-0">
                  <label for="">Exp. Year</label>
                  <select id="" class="form-control" v-model="addedCards.expYear">
                    <option selected></option>
                    <option v-for="option in options" :key="option">{{ option }}</option>
                  </select>
                </div>
                <div class="col-12 col-md fs-12 mt-2 mt-md-0">
                  <label for="">Security Code</label>
                  <input type="text" v-mask="'###'"  class="form-control" v-model="addedCards.code">
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 text-center text-md-left">
            <div class="col-12 col-md-2 mb-3">
              <img src="../assets/images/Sectigo-trust-logo.png" width="90" alt="sectigo-trust">
            </div>
            <div class="col-12 col-md-10">
              <button class="btn btn-success w-100" 
                @click.prevent="addNewCard"
                :disabled="addedCards.cardHolderName == null || addedCards.cardNumber == null || addedCards.expMonth == null || addedCards.expYear == null || addedCards.code == null">
                Add Card
              </button>
            </div>
          </div>            
        </form>
      </div>
    </div>
    
  </div>
</template>

<script>
  import { minLength, required } from 'vuelidate/lib/validators'
  export default {
    data() {
      return {
        cards: [
          { cardHolderName: 'Lucero Hospina', cardNumber: '1234-5678-9012-3456', expMonth: 10, expYear: 2015, code: '321', defaultCard: true }
        ],
        addedCards: [
          { cardHolderName: '', cardNumber: '', expMonth: null, expYear: null, code: '', defaultCard: false }
        ],
        // cardHolderName: '',
        // cardNumber: '',
        // expMonth: '',
        // expYear: '',
        // code: '',
        addNewCardTabFlag: false,
        months: [
          { name:'january', value:1 },
          { name:'february', value:2 },
          { name:'march', value:3 },
          { name:'april', value:4 },
          { name:'may', value:5 },
          { name:'june', value:6 },
          { name:'july', value:7 },
          { name:'august', value:8 },
          { name:'september', value:9 },
          { name:'october', value:10 },
          { name:'november', value:11 },
          { name:'december', value:12 }
        ],
        currentYear: new Date().getFullYear(),
        options: []
      };
    },
    validations: {
      addedCards: {
        cardHolderName: {
          required
        },
        cardNumber: {
          required,
          minLength: minLength(12)
        },
        expMonth: {
          required
        },
        expYear: {
          required
        },
        code: {
          required
        }
      }
    },
    methods: {
      openAddNewCardTab() {
        this.addNewCardTabFlag = true;
      },
      addNewCard() {
        this.cards.push(this.addedCards);
        this.addedCards = [];
        this.addedCards.defaultCard = false;
        this.addNewCardTabFlag = false;
      },
      getYears() {
        for(var i = this.currentYear; i<=(this.currentYear + 30); i++) {
          this.options.push(i)
        }
        return this.options
      },
      deleteCard(idx) {
        this.cards.splice(idx-1, 1)
      },
      setAsDefaultCard() {
        for(var i=0; i<this.cards.length; i++) {
          this.cards[i].defaultCard = true;
          alert(this.cards[i].defaultCard)
        }
      }
    },
    beforeMount() {
      console.log('beforeMount');
      this.getYears();
    }
  }
</script>

<style scoped>
  .big-card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .small-btn {
    text-decoration: underline;
  }
  .modal-btn {
    border-radius: 6px;
    width: 7.5rem;
  }
  .modal-btn-aff:hover {
    background-color: #52d03e;
    color: #fff;
  }
  .modal-btn-neg:hover {
    background-color: #fff;
    color: #2c3143;
  }
</style>
