<template>
  <div class="container-fluid px-0">
    <app-header></app-header>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h4 class="main-title">{{ title }}</h4>
        <hr class="main-title-decorator">
      </div>
    </div>
    <div class="row mt-5 mb-80">
      <div class="col-12">
        <div>
          <b-tabs content-class="mt-5" align="center">
            <b-tab @click="setTitleName">
              <template v-slot:title>
                <img src="./assets/images/My-applications-ico.svg" class="position-relative bottom-2 pointer-none" alt="my-apps-icon" width="18">
                <span class="d-none d-md-inline-block ml-2">{{ titles[0] }}</span> 
              </template>
              <p class="tab-content">Applications</p>
            </b-tab>
            <b-tab @click="setTitleName">
              <template v-slot:title>
                <img src="./assets/images/My-travelers-ico.svg" class="position-relative bottom-2 pointer-none" alt="my-travelers-icon" width="18">
                <span class="d-none d-md-inline-block ml-2">{{ titles[1] }}</span> 
              </template>
              <p class="tab-content">Travelers info</p>
            </b-tab>
            <!-- TAB en el que trabajaremos -->
            <b-tab @click="setTitleName" active>
              <template v-slot:title>
                <img src="./assets/images/My-cards-ico.svg" class="position-relative bottom-2 pointer-none" alt="my-cards-icon" width="18">
                <span class="d-none d-md-inline-block ml-2">{{ titles[2] }}</span> 
              </template>
              <app-my-cards class="tab-content"></app-my-cards>
            </b-tab>
            <!-- *** -->
            <b-tab @click="setTitleName">
              <template v-slot:title>
                <img src="./assets/images/My-Account-ico.svg" class="position-relative bottom-2 pointer-none" alt="my-account-icon" width="18">
                <span class="d-none d-md-inline-block ml-2">{{ titles[3] }}</span> 
              </template>
              <p class="tab-content">Account info</p>
            </b-tab>
          </b-tabs>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import MyCards from './components/MyCards.vue';
  import Header from './components/Header.vue';
  import Footer from './components/Footer.vue';
  export default {
    data() {
      return {
        title: 'MY CARDS',
        titles: [ 'MY APPLICATIONS', 'MY TRAVELERS', 'MY CARDS', 'MY ACCOUNT' ]
      }
    },
    components: {
      'app-my-cards': MyCards,
      'app-header': Header,
      'app-footer': Footer
    },
    methods: {
      setTitleName(event) {
        this.title = event.target.textContent;
        return this.title
      }
    }
  }
</script>

<style>
@import'~bootstrap/dist/css/bootstrap.css';
@import'~bootstrap-vue/dist/bootstrap-vue.css';

  :root {
    --my-blue: #43689e;
    --my-light-gray: #ededed;
    --my-dark-gray: #6a757e;
    --my-black: #2c3143;
    --my-green: #52d03e;
    --my-dark-green: #0ca52f;
  }
  body {
    color: var(--my-black);
  }
  .text-blue {
    color: var(--my-blue);
  }
  .text-my-black {
    color: var(--my-black);
  }
  .text-dark-gray {
    color: var(--my-dark-gray);
  }
  .text-green {
    color: var(--my-green);
  }
  .bg-light-gray {
    background-color: var(--my-light-gray);
  }
  .bg-green {
    background-color: var(--my-green)
  }
  .fs-24 { font-size: 1.5rem; }
  .fs-23 { font-size: 1.4375rem; }
  .fs-22 { font-size: 1.375rem }
  .fs-21 { font-size: 1.3125rem }
  .fs-20 { font-size: 1.25rem; }
  .fs-18 { font-size: 1.125rem; }
  .fs-17 { font-size: 1.0625rem; }
  .fs-16 { font-size: 1rem; }
  .fs-15 { font-size: 0.9375rem; }
  .fs-14 { font-size: 0.875rem; }
  .fs-13 { font-size: 0.8125rem; }
  .fs-12 { font-size: 0.75rem; }
  .fs-11 { font-size: 0.6875rem; }
  .fs-10 { font-size: 0.625rem; }
  .fs-8 { font-size: 0.5rem; }
  .fw-500 {
  font-weight: 500;
  }
  .fw-600 {
    font-weight: 600;
  }
  .opacity-40 {
    opacity: 0.4;
  }
  .pointer {
    cursor: pointer;
  }
  .pointer-none {
    pointer-events: none;
  }
  .mb-80 {
    margin-bottom: 5rem;
  }
  .bottom-2 {
    bottom: 2px;
  }
  .bottom-10 {
    bottom: 10px;
  }
  .tab-content {
    margin-left: 8%;
    margin-right: 8%;
  }
  .nav-tabs .nav-link.active {
    border-top: 2px solid var(--my-green);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: var(--my-black);
  }
  .nav-tabs .nav-link {
    border: 1px solid var(--my-light-gray);
    color: var(--my-black);
    font-size: 0.875rem;
    font-weight: bold;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .nav-tabs .nav-link:not(.active) {
    opacity: 0.5;
  }
  .main-title-decorator {
    border: 1.8px solid var(--my-black);
    width: 13rem;
  }
</style>
